.tableHeader {
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: 15% 40% 15% 20% 10%;
}

.tableHeader > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 5px rgb(231 203 203);
  padding: 15px 0;
}

.tableHeader > div:hover {
  color: rgb(218, 162, 23);
  cursor: pointer;
  background-color: #303b74;
}
